/* NAVIGATION */
.nav {
  flex-direction: column;
  height: 10rem;
}
.modal {
  max-width: 50rem;
}
.header__title{
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 5.2rem;
  line-height: 1.35;
}
h4 {
  font-size: 2.3rem;
  font-weight: 500;
}
.btn--scroll-to{
  margin-bottom: 5rem;
}
#section--1{
  padding: 3rem;
}
.features{
  display: flex;
  flex-direction: column;
}

@media (max-width: 420px) {
body{
  width: 100%;
}
  .nav__item {
    margin-left: 2rem;
  }
  .nav__link:link,
  .nav__link:visited {
    font-size: 1.2rem;
  }
  .nav__link--btn:link,
  .nav__link--btn:visited {
    padding: 0.8rem 2.5rem;
    border-radius: 20%;
    background-color: var(--color-primary);
    color: #222;
  }
  h1 {
  font-size: 3.2rem;
  line-height: 1.35;
}
h4 {
  font-size: 1.9rem;
  font-weight: 500;
}
#section--1{

  padding: 1.5rem;
}
.section__header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.features{
  margin: 0;
}
  .modal {
    padding: 2rem;
    max-width: 40rem;
  }
  .modal__header {
  font-size: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}
#section--2{
padding: 3rem;
}
.operations {
  max-width: 100rem;
  margin: 12rem auto 0 auto;

  background-color: #fff;
}

.operations__tab-container {
  display: flex;
  justify-content: center;
}

.operations__tab {
  margin-right: 0.5rem;
  font-size: 10px;
  width: 2rem;
  transform: translateY(-50%);
}

.operations__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}
}
  .modal__form {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }
  .modal__form input {
    padding: 1rem 2rem;
  }

